
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    background-color: darkgray;
}

/* Header elements ------------------------------------------------------------------------------------------------- */

.header {
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: inline-flex;
    height: 10%;
    width: 100%;
    justify-content: center;

    background-color: gray;
    border-bottom: medium solid black;
}

.header #title {
    padding: 10px;
    margin: 10px;
    display: inline-block;
    height: 5em;
    width: 5em;
    justify-content: center;

    font-family: Arial;
    font-size: small;
    font-weight: bold;

    background-color: gray;
    border: medium solid black;
    border-radius: 5px;
}

.speed-container {
    padding: 10px;
    margin: 10px;
    height: 4.0625em;
    width: 10em;

    background-color: gray;
    border: medium solid black;
    border-radius: 5px;
}

.speed-container #speed-title {
    font-family: Arial;
    font-size: large;
    font-weight: bold;
}

.header #sort-button {
    padding: 10px;
    margin: 10px;
    display: inline-block;
    height: 5.056em;
    width: 5.056em;

    font-family: Arial;
    font-size: large;
    font-weight: bold;

    background-color: gray;
    border: medium solid black;
    border-radius: 5px;
}

.header #select-button {
    padding: 10px;
    margin: 10px;
    display: inline-block;
    height: 5.056em;
    width: 7em;

    font-family: Arial;
    font-size: large;
    font-weight: bold;

    background-color: gray;
    border: medium solid black;
    border-radius: 5px;
}

.header #selected-container {
    padding: 10px;
    margin: 10px;
    display: inline-block;
    height: 3.6114em;
    width: 7em;

    font-family: Arial;
    font-size: large;
    font-weight: bold;

    background-color: gray;
    border: medium solid black;
    border-radius: 5px;
}

.header #new-array {
    padding: 10px;
    margin: 10px;
    display: inline-block;
    height: 5.056em;
    width: 6em;

    font-family: Arial;
    font-size: large;
    font-weight: bold;

    background-color: gray;
    border: medium solid black;
    border-radius: 5px;
}

.header #sort-button:hover, .header #select-button:hover, .header #new-array:hover {
    background-color: dimgray;
}

.header #sort-button:focus, .header #select-button:focus, .header #new-array:focus {
    outline: none;
}

/* Slider Elements ------------------------------------------------------------------------------------------------- */

.slider-container {
    padding: 10px;
    margin: 10px;
    display: inline-block;
    height: 3.6115em;
    width: 15em;

    font-family: Arial;
    font-size: large;
    font-weight: bold;

    background-color: gray;
    border: medium solid black;
    border-radius: 5px;
}

/* Array/Chart Elements -------------------------------------------------------------------------------------------- */

.array-container {
    padding: 10px;
    margin: 10px;
    display: inline-block;
    height: 55em;
    width: 80%;

    background-color: gray;
    border: medium solid black;
}

.array-bar {
    display: inline-block;

    background-color: black;
}

/* Footer elements ------------------------------------------------------------------------------------------------- */

.footer {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100%;
    width: 100%;
    justify-content: center;

    background-color: gray;
    border-top: medium solid black;
    border-bottom: medium solid black;
}

.footer #footer-title {
    font-family: Arial;
    font-size: larger;
    font-weight: bold;
}

.footer #footer-p {
    margin-top: 0;
    margin-bottom: 1px;
}

.footer #mergeSort, .footer #quickSort, .footer #heapSort, .footer #treeSort, .footer #blockSort,
.footer #timSort, .footer #shellSort, .footer #quadSort, .footer #cubeSort {
    padding: 10px;
    margin: 10px;
    display: inline-block;
    height: 3.6114em;
    width: 5em;

    font-family: Arial;
    font-size: large;
    font-weight: bold;

    background-color: gray;
    border: medium solid black;
    border-radius: 5px;
}

.footer #mergeSort:hover, .footer #quickSort:hover, .footer #heapSort:hover, .footer #treeSort:hover,
.footer #blockSort:hover, .footer #timSort:hover, .footer #shellSort:hover, .footer #quadSort:hover,
.footer #cubeSort:hover {
    background-color: dimgray;
}

.footer #mergeSort:focus, .footer #quickSort:focus, .footer #heapSort:focus, .footer #treeSort:focus,
.footer #blockSort:focus, .footer #timSort:focus, .footer #shellSort:focus, .footer #quadSort:focus,
.footer #cubeSort:focus {
    outline: none;
}

.footer #footer-details {
    font-family: Arial;
    font-size: small;
    font-weight: bold;
}

.project-details {
    font-family: Arial;
    font-size: large;
    font-weight: bold;
}