
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    background-color: darkgray;
}

body {
    font-family: Arial, serif;
}

/* Header elements ------------------------------------------------------------------------------------------------- */

.header {
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    height: 12%;
    width: 100%;
    text-align: center;
    justify-content: center;

    background-color: gray;
    border-bottom: medium solid black;
}

.header #title {
    padding: 10px;
    margin: 10px;
    display: inline-block;
    height: 5em;
    width: 5em;
    justify-content: center;

    font-size: small;
    font-weight: bold;

    border: medium solid black;
    border-radius: 5px;
}

.speedContainer {
    padding: 10px;
    margin: 10px;
    height: 4.0625em;
    width: 12em;

    border: medium solid black;
    border-radius: 5px;
}

.speedContainer #speedTitle {
    font-size: large;
    font-weight: bold;
}

.speedContainer #speedP {
    margin-top: 0;
    margin-bottom: 0;
}

.speedContainer #speedInstructions {
    padding-top: 5px;
    display: block;
    height: 10px;

    font-size: xx-small;
    font-weight: bold;
}

.header #sortButton {
    padding: 10px;
    margin: 10px;
    display: inline-block;
    height: 5.056em;
    width: 5.056em;

    font-size: large;
    font-weight: bold;

    background-color: gray;
    border: medium solid black;
    border-radius: 5px;
}

.header #selectButton {
    padding: 10px;
    margin: 10px;
    display: inline-block;
    height: 5.056em;
    width: 7em;

    font-size: large;
    font-weight: bold;

    border: medium solid black;
    border-radius: 5px;
}

.header #selectedContainer {
    padding: 10px;
    margin: 10px;
    display: inline-block;
    height: 3.6114em;
    width: 7em;

    font-size: large;
    font-weight: bold;

    border: medium solid black;
    border-radius: 5px;
}

.header #newArray {
    padding: 10px;
    margin: 10px;
    display: inline-block;
    height: 5.056em;
    width: 6em;

    font-size: large;
    font-weight: bold;

    background-color: gray;
    border: medium solid black;
    border-radius: 5px;
}

.header #sortButton:hover, .header #selectButton:hover, .header #newArray:hover {
    background-color: dimgray;
    cursor: pointer;
}

.header #sortButton:focus, .header #selectButton:focus, .header #newArray:focus {
    outline: none;
}

/* Slider Elements ------------------------------------------------------------------------------------------------- */

.sliderContainer {
    padding: 10px;
    margin: 10px;
    display: inline-block;
    height: 3.6115em;
    width: 15em;

    font-size: large;
    font-weight: bold;

    background-color: gray;
    border: medium solid black;
    border-radius: 5px;
}

/* Array/Chart Elements -------------------------------------------------------------------------------------------- */

.arrayContent {
    text-align: center;
    justify-content: center;
}

.arrayContainer {
    padding: 10px;
    margin: 10px;
    display: inline-block;
    height: 58em;
    width: 80%;
    text-align: center;

    background-color: gray;
    border: medium solid black;
    border-radius: 5px;
}

.arrayBar {
    display: inline-block;
    text-align: center;

    background-color: black;
}

/* Footer elements ------------------------------------------------------------------------------------------------- */

.footer {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100%;
    width: 100%;
    justify-content: center;

    background-color: gray;
    border-top: medium solid black;
}

.footer #footerContent {
    text-align: center;
}

.footer #footerButtons {
    margin-top: 0;
    margin-bottom: 0;
}

.footer #mergeSort, .footer #quickSort, .footer #heapSort,
.footer #bubbleSort, .footer #cocktailSort, .footer #insertionSort {
    padding: 10px;
    margin: 10px;
    display: inline-block;
    height: 3.6114em;
    width: 6em;

    font-size: large;
    font-weight: bold;

    background-color: gray;
    border: medium solid black;
    border-radius: 5px;
}

.footer #mergeSort:hover, .footer #quickSort:hover, .footer #heapSort:hover,
.footer #bubbleSort:hover, .footer #cocktailSort:hover, .footer #insertionSort:hover {
    background-color: dimgray;
    cursor: pointer;
}

.footer #mergeSort, .footer #quickSort, .footer #heapSort,
.footer #bubbleSort, .footer #cocktailSort, .footer #insertionSort {
    outline: none;
}

.footer #footerDetails {
    font-size: small;
    font-weight: bold;
}

.projectDetails {
    font-size: large;
    font-weight: bold;
}

.footer #footerTitle, footer #timeTitle, .footer #algorithmCodeTitle {
    text-decoration: underline;
    font-size: larger;
    font-weight: bold;
}

.footer #timeComplexityTitle, .footer #timeComplexityLink, .footer #algorithmColon {
    font-size: large;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.footer #timeComplexityLink:hover {
    color: darkgray;
}

.algorithmInfo {
    padding: 5px;
    justify-content: center;

    font-size: large;
    font-weight: bold;
}

.footer #algorithmCodeContainer {
    display: flex;
    justify-content: center;
}

.footer #algorithmCodeContainer > pre {
    padding: 10px;
    float: top;

    border: medium solid black;
    border-radius: 5px;
}

.footer #algorithmCode {
    white-space: pre;

    font-size: medium;
    font-weight: bold;
}

.projectDetails {
    width: 100%;
    text-align: center;
    justify-content: center;
}